<div class="social__icons">
    <div class="icon__card">
        <a href="#" class="icon">
            <span class="icon-text">İnstagram</span>
        </a>
    </div>
    <div class="icon__card">
        <a href="#" class="icon">
            <span class="icon-text">Twitter</span>
        </a>
    </div>
    <div class="icon__card">
        <a href="#" class="icon">
            <span class="icon-text">GitHub</span>
        </a>
    </div>
</div>