@model Link.Dto.ProfileDtos.CombinedResponseDto








<div class="ask-question">
<form id="add-comment-form" asp-action="AddComment" method="post">

    @* <input type="Comment" id="LinkName" name="Comment" placeholder="Yorumunuzu yazın" required /> *@

        <textarea type="Comment" id="LinkName" name="Comment" placeholder="Yorumunuzu yazın"></textarea>

    <button id="dynamic-button" class="icon" type="submit">
        <span class="add-text">Kaydet</span>
    </button>
</form>
</div>



<div class="questions">
    @foreach (var comment in Model.Comments)
    {
        <div class="question">
            <div class="user-info">
                <img src="/Linkhtml/assets/user.jpg" alt="Kullanıcı Adı" class="user-photo" />
                <p class="username">Kullanıcı Adı</p>
            </div>
            <p class="question-text">@comment.Comment</p>
            <div class="answer">
                <div class="user-info">
                    <img src="/Linkhtml/assets/user.jpg" alt="Başka Kullanıcı" class="user-photo" />
                    <p class="username">Yanıtlayan Kullanıcı</p>
                </div>
                <p class="answer-text">Cevap metni burada yer alacak.</p>
            </div>
        </div>
    }
</div>
