@model RegisterDto

@inject IConfiguration configuration
@{
    var sitekey = configuration["RecaptchaSettings:SiteKey"];
    ViewData["Title"] = "Profile Settings";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="card dark">
    <h3>Kayıt Ol</h3>

    <div class="profile-info">
        <form asp-action="Index" method="post" onsubmit="return onSubmit(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" id="recaptchaTokenId" name="RecaptchaToken" />

            <div class="input-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="SurName" class="control-label"></label>
                <input asp-for="SurName" class="form-control" />
                <span asp-validation-for="SurName" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="input-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
            <div id="html_element" style="margin-top: 20px; margin-left: 27px;"></div>
        </form>
    </div>
</div>

<script type="text/javascript">
    var onloadCallback = function () {
        grecaptcha.render('html_element', {
            'sitekey': '@sitekey'
        });
    };

    function onSubmit(event) {
        var token = grecaptcha.getResponse();
        if (token.length === 0) {
            event.preventDefault(); // reCAPTCHA doğrulaması yapılmamışsa form gönderimini engelle
            alert('Lütfen reCAPTCHA doğrulamasını tamamlayın.');
            return false;
        }
        document.getElementById("recaptchaTokenId").value = token;
        return true; // Token alındığında formu gönder



    }
</script>


<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
