<div class="ask-question">
    <textarea class="comment" placeholder="Sorunuzu yazın..."></textarea>
    <button class="comment-button">Gönder</button>
</div>


<div class="questions">


    <div class="question">
        <div class="user-info">
            <img src="/Linkhtml/assets/user.jpg" alt="Kullanıcı Adı 1" class="user-photo">
            <p class="username">Aslı Kahve</p>
        </div>
        <p class="question-text">Merhaba, GitHub hesabınızı aktif olarak kullanıyor musunuz?</p>

        <div class="answer">
            <div class="user-info">
                <img src="/Linkhtml/assets/user.jpg" alt="Başka Kullanıcı" class="user-photo">
                <p class="username">Hamza Gündüz</p>
            </div>
            <p class="answer-text">Evet, GitHub hesabımı düzenli olarak kullanıyorum.</p>
        </div>
    </div>


</div>
